
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Handlee', cursive, sans-serif;
	font-size: 1.7rem;
	line-height: 1.7;
	color: #4a4a4a;
	box-sizing: border-box;
	background-color: #fff;
	/* width: 1140px; */
	margin: 0 auto;
}

h1{
	font-family: 'Merienda', cursive, sans-serif;
}
img {
	width: 100%;
	height: auto;
}

* {
    box-sizing: border-box;
}




