.about {
    position: relative;

	&__content {
        position: absolute;
        font-size: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        padding: 0 4rem;
        text-align: center;
        color: $text-light;
        line-height: 3rem;
        color: lightgrey;

     @mixin atSmall {
        top: 20%;
        transform: translateY(-20%);
        left: 50%;
        transform: translateX(-50%);
         padding-top: 6rem;
         width: 100%;
     }
     @mixin atMedium {
        top: 0;
        
     }

     @mixin atLarge {
        top: 20%;
        padding-top: 6rem;
        width: 75%;
     }
 
	}

	&__image {
        display: block;

	@mixin atSmall {
         height:  100%;
     }
    }
        
    &__image-1 {
        border-bottom: 0;

        @mixin atSmall{
            
        }
    }
}

