.footer {
	background-color: $menu-bar;
	padding:  1rem 0;
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.footer__info {
		color:  lightgray;
		text-align: center;
		font-size: .9rem;
	}