/* === GIRD ===*/

.row {

    @mixin clearfix;

    &--t-padding {
        padding: 3rem 0;
        @mixin atSmall {
            padding-top: 0;
        }
    }

    &--b-padding {
        padding-bottom: 0rem;

        @mixin atSmall {
            padding-bottom: 4rem;
        }
    }

    @mixin atLarge {

        &__b-margin-until-large {
            margin-bottom: 0;
        }

        &__large-4 {
            float: left;
            width: 25%;

        }

        &__large-2 {
            float: left;
            width: 50%;
        }

        &__large-1 {
            float: left;
            width: 65%;
        }
    } 

}