.menu-bar {
		display: none;
	
	@mixin atSmall {
		background-color: $menu-bar;
		color: $text-light;
		padding: .75rem 0;
		color: $text-light;
		padding: .75rem 0;
		width: 100%;
		display: block;
  }
}

.logo {
	
	@mixin atSmall {
		font-size: 1.2rem;
		text-align: left;
		padding-top: 1rem;
		width: 114rem;
		margin: 0 auto;
	}
}


